body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

.app-container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

.radio-group {
    margin-bottom: 20px;
}
.chart-container {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}